﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Controller</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>
            you can reset your password and show your info
        </p>
        <p>@Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "btn btn-default" })</p>

    </div>
    <div class="col-md-4">
        <h2>New Ticket</h2>
        <p>you can add ticket as client or as admin
           if you login as admin, you should type client email to send ticket to client</p>
        <p>@Html.ActionLink("Add New Ticket", "Index", "Tickets/Create", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Previous Tickets</h2>
        <p>You can easily find your previous tickets as client or all tickets as admin </p>
        <p>@Html.ActionLink("Previous Tickets", "Index", "Tickets", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default" })</p>
    </div>
</div>