﻿@model test3.Models.Ticket

@{
    ViewBag.Title = "Details";
}
<h2>Ticket</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br />


<div style="position: relative;">
    <h4 style="width: 907px; height: 33px;">Prev Replies
        <input id="btn" class ="btn btn-default" type="button" value="Refresh" style="position: relative; left: 218px; top: 1px;" />
        <button type="button" id="btnReply" class="btn btn-primary" style="position: relative;" data-toggle="modal" data-target="#ReplyModal">
            New Reply
        </button>
    </h4>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<!--Reply-->
<div id="ReplyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><label id="title"></label></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.Hidden("userId", new { @class = "form - control", Value = @ViewData["userId"] })
                            @Html.Hidden("date", new { @class = "form - control", Value = DateTime.Now.ToLocalTime() })
                            <label>Content</label>
                            <input type="text" id="content" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.Label("Content", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("date", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
    </tr>
</table>
<table id ="table"></table>
@section Scripts{
<script type="text/javascript" src="~/Scripts/lib/ReplyScript.js"></script>
<script type="text/javascript">
    var userId = @Html.Raw(Json.Encode(ViewBag.userId));
    var ticketId = @Html.Raw(Json.Encode(ViewBag.ticketId));
    var date = @Html.Raw(Json.Encode(DateTime.Now.ToLocalTime()));
</script>    
}

    